body {
   
    margin: 0;
    padding: 0;
    background-color: #F2EFE5;
    
}

.container{
    display: flex;
    flex-direction: column;
}



header {
    
    background-color: #B4B4B8;
    color: #fff;
    padding-left:20px ;
    padding-top:0px ;
    padding-right: 20px;
  
}

header p{
    text-align: end;
    font-family: "Jersey 15", sans-serif;
    font-size: large;
    margin: 0;
}

header h1{
    font-family: "Sedan", serif;
    
    
}
nav{
    background-color: #C7C8CC;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
   
    

}

h1{
    scroll-margin-top: 70px;
}

nav ul li {
    margin-right: 20px;
    font-size: large;
    
   
}

nav ul li button {
    border: none;
    background-color: #C7C8CC; /* Change to your desired background color */
   
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #E3E1D9/* Change to your desired hover background color */
}

nav ul li a {
    
    text-decoration: none;
    padding: 10px;
    
}



.bodie{
    display: flex;
    flex-direction: row;
}


 main{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #E3E1D9;
 }

main h1{
    text-align: center;
}

.photos{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #E3E1D9;
    width: 800px;
    height: auto;
  
}

.photos img{
    display: block;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
     

}


.lanscape{
    width: 100%; 
    height: auto;
}
.potrate{
    width:  100%;
    height: auto; 
}
main p {
    padding-left: 50px;
    padding-right: 50px;
}


